:root {
    --primary-color: #0B0C0F;
    --secondary-color: #ffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

*::-webkit-scrollbar {
    width: 0.25rem;
    background-color: var(--secondary-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 1.2rem;
    width: .25rem;
}


.logo {
    width: 2.5rem;
}

/* .wrapper {
    max-width: 1440px;
    margin: 0 auto;
    overflow-x: hidden;
  } */

  .error-message, .errorlist{
    color: red;
  }

@font-face {
    font-family: 'Neue Montreal';
    src: url('../font/neue-bold.woff') format('woff');
}


@font-face {
    font-family: 'Neue Montreal Medium';
    src: url('../font/neue-medium.woff') format('woff');
}

@font-face {
    font-family: 'Neue Montreal Book';
    src: url('../font/neue-book.woff') format('woff');
}



.header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 2rem;
    position: fixed;
    width: 100%;
    opacity: .7;
    z-index: 5;
}
.nopage-header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 2rem;
    width: 100%;
    z-index: 5;
}

.inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-header a{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-decoration: none;
    color: var(--secondary-color);
    align-items: center;
}

.inner-header a > p{
    font-family: 'Neue Montreal', sans-serif;
    font-size: .725rem;
}

.nav {
    display: flex;
    list-style: none;
    gap: 3.25rem;
}

.nav-links {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.125rem;
    font-family: 'Neue Montreal Medium', sans-serif;
    font-weight: 500;
}

.btn {
    padding: 1rem 3.5rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    border-radius: 6.25rem;
    cursor: pointer;
    font-family: 'Neue Montreal', sans-serif;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn:hover {
    padding: 1rem 3.5rem;
    background-color: transparent;
    color: var(--secondary-color);
    border: 1px solid white;
    border-radius: 6.25rem;
    cursor: pointer;
    font-family: 'Neue Montreal', sans-serif;
    font-weight: 500;
    transition: all 0.3s ease;
}


.harmburger,
.harmburger-parent {
    display: none;
    cursor: pointer;
}

.harmburger .bar {
    display: block;
    width: 1.7rem;
    height: .125rem;
    margin: 0.20rem auto;
    transition: all 0.3s ease-in-out;
    background: var(--primary-color);
}


.alert-success {
    display: flex;
    background-color: var(--primary-color);
    justify-content: space-between;
    padding: 2rem 1.2rem;
    animation: slideIn ease 1s, fadeOut 1s 1s forwards;
    z-index: 10;
  }
  
  @keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  @keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
  }
  
  

  .alert-success p{
    color: var(--secondary-color);
    font-family: Neue Montreal, sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
  }
  
  .alert-success span{
    color: #FFF4F4;
    font-family: Neue Montreal, sans-serif;
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
  }


.footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.inner-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
}

.inner-footer p {
    font-size: 1rem;
    font-family: 'Neue Montreal Medium', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
}



.footer-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 2.25rem;
}

.footer-nav-items,
.mobile-footer-nav {
    display: none;
}

.footer-nav-links {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1rem;
    font-family: 'Neue Montreal Medium', sans-serif;
    font-weight: 500;
}

.nav-link-title {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.25rem;
    font-family: 'Neue Montreal Medium', sans-serif;
    font-weight: 700;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-info-inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

.contact-details .title {
    color: var(--secondary-color);
    font-size: 1.25rem;
    font-family: 'Neue Montreal Medium', sans-serif;
    font-weight: 700;
}

.contact-details .body {
    color: var(--secondary-color);
    font-size: 1rem;
    font-family: 'Neue Montreal Medium', sans-serif;
    font-weight: 500;
}

.contact-mail {
    display: flex;
    flex-direction: column;
    gap: .625rem;
    align-items: flex-start;
}


.contact-mail p {
    color: var(--secondary-color);
    font-size: 1.25rem;
    font-family: 'Neue Montreal Medium', sans-serif;
    font-weight: 500;
}

.social-icons {
    display: flex;
    gap: 1.17rem;
}

.copyright {
    display: flex;
    gap: .5rem;
    justify-content: center;
}

.copyright p {
    font-size: 1rem;
    font-family: 'Neue Montreal Medium', sans-serif;
    font-weight: 500;
    line-height: 1.5;
}

.newsletter-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}


.newsletter {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
}

.newsletter h3 {
    font-size: 1.5rem;
    font-family: 'Neue Montreal', sans-serif;
    font-weight: 500;
}

.newsletter-form {
    display: flex;
    gap: .75rem;
}


.home-input {
    border: 1px solid #EBEBEB;
    padding: .625rem 2.5rem;
    outline: none;
    background: transparent;
    color: var(--secondary-color);
    font-size: 1rem;
    font-family: 'Neue Montreal', sans-serif;
    font-weight: 500;
}

.home-input::placeholder {
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-family: 'Neue Montreal Book', sans-serif;
    font-weight: 500;
}

.search-btn {
    padding: .625rem 1.5rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    width: 6rem;
    font-size: 1rem;
    font-family: 'Neue Montreal', sans-serif;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
}

.nav.visible {
    display: flex;
    background: var(--primary-color);
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    align-items: center;
    z-index: 5;
    padding: 3rem;
    height: 100dvh;
}

.btn.visible {
    display: flex;
    width: 80%;
    flex-direction: column;
    position: absolute;
    top: 550%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    z-index: 5;
    padding: 1rem 3.5rem;
}



@media screen and (max-width : 992px) {


    .harmburger-parent {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--secondary-color);
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
    }

    .harmburger {
        display: block;
    }

    .harmburger.visible .bar:nth-child(2) {
        opacity: 0;
    }

    .harmburger.visible .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .harmburger.visible .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

    .header {
        background-color: #0B0C0F;
        opacity: .8;
    }


    .nav,
    .btn {
        display: none;
    }

    .inner-footer {
        grid-template-columns: repeat(1, 1fr);
        gap: 3.5rem;
    }

    .footer {
        padding: 1rem;
    }

    .newsletter-form {
        flex-direction: column;
    }

    .footer-nav {
        align-items: flex-start;
    }

    .footer-nav-items {
        display: grid;
        grid-template-columns: repeat(2, 49.5%);
    }

    .mobile-footer-nav {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 2.25rem;
        align-items: flex-start;
    }

    .footer-nav {
        display: none;
    }
}

@media screen and (max-width : 475px) {

    .header {
        padding: 2rem 1rem;
    }

    .harmburger-parent {
        width: 3rem;
        height: 3rem;
    }

    .copyright p {
        font-size: .75rem;
    }
}