{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset | E Swift </title>
    <link rel="stylesheet" href="{% static 'css/registration.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/project.css' %}" />
    <link rel="icon" type="image/svg+xml" href="{% static 'img/logo.svg' %}" />
     {% load livereload_tags %}
</head>
<body> 
  {% include 'messages.html' %}
    <div class="popup" id="popup">
        <div class="signin-contact-form">
            <div class="sigin-contact-form-inner">
                <div class="signin-contact-input-fields">
                    <div class="forgot">
                        <h2> Password Reset Sent</h2>
                        <p>We've Emailed you Instructions for setting your password, if an account exists with the email you entered, You should receive them shortly</p>
                        <p>If You don't recieve  an email please make sure you've entered the address you registered with, and check your spam folder or try again later.</p>
                    </div>
                    </div>
               
                </div>
            </div>
        </div>
    </div>
</body>
</html>