{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset | E Swift </title>
    <link rel="stylesheet" href="{% static 'css/registration.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/project.css' %}" />
    <link rel="icon" type="image/svg+xml" href="{% static 'img/logo.svg' %}" />
     {% load livereload_tags %}
</head>
<body> 
  {% include 'messages.html' %}
    <div class="popup" id="popup">
        <form method="post" action="{% url 'password_reset_complete' %}" class="signin-contact-form">
            {% csrf_token %}
            <div class="sigin-contact-form-inner">
                <div class="signin-contact-input-fields">
                    <div class="forgot">
                        <h2>New Password </h2>
                        <p>Kindly input your new password</p>
                    </div>
                    <div class="input-details">
                        <input class="long-input" type="password" name="password" id="password" placeholder="Password" required>
                    </div>   
                    <div class="input-details">
                        <input class="long-input" type="password" name="password" id="password" placeholder="Confirm Password" required>
                    </div>   
              
            
                    <button class="contact-message-btn">Confirm</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>