{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up | e-Swift Propertymart</title>
    <meta name="description" content="Sign up for an account with e-Swift to access exclusive features and services.">
    <meta name="keywords" content="sign up, register, e-Swift">
    <meta property="og:title" content="Sign Up | e-Swift Propertymart">
    <meta property="og:description" content="Sign up for an account with e-Swift to access exclusive features and services.">
    <meta property="og:image" content="{% static 'img/logo.svg' %}">
    <meta property="og:url" content="{% url 'signup' %}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@YourTwitterHandle">
    <meta name="twitter:title" content="Sign Up | e-Swift Propertymart">
    <meta name="twitter:description" content="Sign up for an account with e-Swift to access exclusive features and services.">
    <meta name="twitter:image" content="{% static 'img/twitter_signup_image.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/registration.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/project.css' %}" />
    <link rel="icon" type="image/svg+xml" href="{% static 'img/logo.svg' %}" />
    {% load livereload_tags %}
</head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F6VENPKHJE"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-F6VENPKHJE');
    </script>
<body> 
  {% include 'messages.html' %}
    <div class="popup" id="popup">
        <form method="post" action="{% url 'signup' %}" class="signin-contact-form">
            {% csrf_token %}
            <div class="sigin-contact-form-inner">
                <div class="signin-contact-input-fields">
                    <h2>Sign Up </h2>
                    <div class="input-details">
                        <label for="email">Email Address</label>
                        <input class="long-input" type="email" name="email" id="email" placeholder="Email Address" required>
                    </div>   
                    <div class="input-details">
                        <label for="password1">Password</label>
                        <input class="long-input" type="password" name="password1" id="password1" placeholder="Password" required>
                    </div> 
                    <div class="input-details">
                        <label for="password2">Confirm Password</label>
                        <input class="long-input" type="password" name="password2" id="password2" placeholder="Confirm Password" required>
                    </div> 
            
                    <button class="contact-message-btn">Sign Up</button>
                </div>
                <a href="{% url 'login' %}">
                    <p>Have an account already?</p>
                </a>
            </div>
        </form>
    </div>
</body>
</html>
