{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password | e-Swift Propertymart</title>
    <meta name="description" content="Forgot your password? Enter your email to reset it and regain access to your e Swift Propertymart account.">
    <meta name="keywords" content="forgot password, password reset, e Swift Propertymart">
    <meta property="og:title" content="Forgot Password | e-Swift Propertymart">
    <meta property="og:description" content="Forgot your password? Enter your email to reset it and regain access to your e Swift Propertymart account.">
    <meta property="og:image" content="{% static 'img/logo.svg' %}">
    <meta property="og:url" content="{% url 'password_reset' %}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@YourTwitterHandle">
    <meta name="twitter:title" content="Forgot Password | e-Swift Propertymart">
    <meta name="twitter:description" content="Forgot your password? Enter your email to reset it and regain access to your e Swift Propertymart account.">
    <meta name="twitter:image" content="{% static 'img/twitter_forgot_password_image.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/registration.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/project.css' %}" />
    <link rel="icon" type="image/svg+xml" href="{% static 'img/logo.svg' %}" />
    {% load livereload_tags %}
</head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F6VENPKHJE"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-F6VENPKHJE');
    </script>
<body> 
  {% include 'messages.html' %}
    <div class="popup" id="popup">
        <form method="post" action="{% url 'password_reset' %}" class="signin-contact-form">
            {% csrf_token %}
            <div class="sigin-contact-form-inner">
                <div class="signin-contact-input-fields">
                    <div class="forgot">
                        <h2>Forgot Password</h2>
                        <p>Kindly input your email address</p>
                    </div>
                    <div class="input-details">
                        <input class="long-input" type="email" name="email" id="email" placeholder="Email" required>
                    </div>   
                    <button class="contact-message-btn">Proceed</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
