{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block meta_description %} {% endblock %}" />
    <meta name="keywords" content="{% block meta_keywords %} {% endblock %}" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/project.css' %}" />
    <link rel="stylesheet" href="{% block css %}{% endblock %}">
    <link rel="stylesheet" href="{% block other_css %}{% endblock %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'img/logo.svg' %}" />
    {% block extra_head %} {% endblock %} {% load livereload_tags %}
  </head>
  <body class="">
    <div class="">
      <header class="header">
        <div class="inner-header">
          <a href="{% url 'home'%}">
            <img loading="lazy" class="logo" src="{% static 'img/logo.svg' %}" alt="Company's Logo" />
          </a>
          <ul id="nav" class="nav">
            <a class="nav-links" href="{% url 'home'%}"><li>Home</li></a>
            <a class="nav-links" href="{% url 'about'%}"><li>About Us</li></a>
            <a class="nav-links" href="{% url 'project' %}"><li>Projects</li></a>
            <a class="nav-links" href="{% url 'properties'%}"><li>Properties</li></a>
            <a class="nav-links" href="{% url 'blog' %}"><li>Blog</li></a>
            <a class="nav-links" href="{% url 'contact' %}"><li>Contact us</li></a>
          </ul>
          <a href="{% url 'login' %}">
            <button class="btn signin-btn" id="btn">Sign In</button>
          </a>        
          <div class="harmburger-parent">
            <div id="hamburger" class="harmburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
        
        </div>
      </header>
      <main>{% block content %} {% endblock %}</main>
      <div class="popup" id="popup">
      </div>
      <div class="testimonials">
        <div class="inner-contact">
            <div class="inner-contact-text">
                <h2>Have a question? Get in touch!</h2>
                <a href="{% url 'contact' %}">
                  <button class="contact-btn"> Contact Us </button>
                </a>
            </div>
        </div>
    </div>
      
      <footer class="footer ">
        <div class="inner-footer">
          <div class="newsletter-container">
            <p>
              E-Swift Properties is a reliable industrial and commercial builder with a two-thirds returning customer rate. It has been a leading player in the industry for years.
            </p>
            <hr>
  
            <div class="newsletter">
              <h3>Sign up for our newsletter</h3>
              <form class="newsletter-form" action="" method="post">
                <input type="email" placeholder="Email Address" />
  
                <button class="search-btn">Sign Up</button>
              </form>
            </div>
          </div>
          <ul class="footer-nav">
            <h3 class="nav-link-title">Category</h3>
            <a class="footer-nav-links" href=""> <li>Home</li></a>
            <a class="footer-nav-links" href=""> <li>About Us</li></a>
            <a class="footer-nav-links" href=""> <li>Blog</li> </a>
          </ul>
          <ul class="footer-nav">
            <h3 class="nav-link-title">Links</h3>
            <a class="footer-nav-links" href=""> <li>Projects</li></a>
            <a class="footer-nav-links" href=""> <li>Listings</li></a>
            <a class="footer-nav-links" href=""> <li>Contact Us</li> </a>
            <a class="footer-nav-links" href=""> <li>Agents</li> </a>
          </ul>
        <div class="footer-nav-items">
          <ul class="mobile-footer-nav">
            <h3 class="nav-link-title">Category</h3>
            <a class="footer-nav-links" href=""> <li>Home</li></a>
            <a class="footer-nav-links" href=""> <li>About Us</li></a>
            <a class="footer-nav-links" href=""> <li>Blog</li> </a>
          </ul>
          <ul class="mobile-footer-nav">
            <h3 class="nav-link-title">Links</h3>
            <a class="footer-nav-links" href=""> <li>Projects</li></a>
            <a class="footer-nav-links" href=""> <li>Listings</li></a>
            <a class="footer-nav-links" href=""> <li>Contact Us</li> </a>
            <a class="footer-nav-links" href=""> <li>Agents</li> </a>
          </ul>
        </div>
          <div class="contact-info">
            <div class="contact-info-inner">
              <div class="contact-details">
                <h2 class="title">Contact Details</h2>
                <p class="body">
                  8, Owo Avenue, Opp Royal Birds Hotel, Ijapo Estate, Akure, 340
                  Akure, Nigeria
                </p>
              </div>
  
              <div class="contact-mail">
                <p>enquiry@e-swiftproperties.ng</p>
                <p>+234 805 911 2878</p>
              </div>
            </div>
            <div class="social-icons">
              <a href="">
                <img
                  loading="lazy"
                  src="{% static 'img/facebook.avif' %}"
                  alt="Facebook's Logo"
                />
              </a>
              <a href="">
                <img  loading="lazy" src="{% static 'img/twitter.avif' %}" alt="Twiitter's Logo" />
              </a>
              <a href="">
                <img
                  loading="lazy"
                  src="{% static 'img/linkedin.avif' %}"
                  alt="Linkedin's Logo"
                />
              </a>
              <a href="">
                <img
                  loading="lazy"
                  src="{% static 'img/instagram.avif' %}"
                  alt="Instagram's Logo"
                />
              </a>
            </div>
          </div>
        </div>
        <hr />
        <div class="copyright">
          <img  loading="lazy" src="{% static 'img/copyright.avif' %}" alt="Copyright icon" />
          <p>2024 E-Swift Properties. All right reserved</p>
        </div>
      </footer>
      <script src="{% static 'js/harmburger.js' %}"></script>
      <script>
        function openModal() {
            const popup = document.getElementById('popup');
            popup.classList.toggle('visible');
            popup.innerHTML = '<object type="text/html" data="login" ></object>';
            document.body.addEventListener('click', closeModalOutside);
        }
    
        function closeModalOutside(event) {
            var popup = document.getElementById('popup');
            if (!popup.contains(event.target) && event.target !== document.getElementById('btn')) {
                popup.classList.remove('visible');
                document.body.removeEventListener('click', closeModalOutside);
            }
        }
    </script>
    
      {% block extra_scripts %}
      {% endblock %}
  </body>
</html>
