{% extends "_base.html" %}
{% load static %}

{% block title %}About Us | e-Swift Propertymart{% endblock %}
{% block meta_description %}Learn more about e-Swift Propertymart, our mission, vision, and the dedicated team behind our success.{% endblock %}
{% block meta_keywords %}e-Swift, real estate, about us, real estate company, property experts, real estate services{% endblock %}
{% block css %}{% static 'css/about.css' %}{% endblock %}
{% block other_css %}{% static 'css/home.css' %}{% endblock %}

{% block og_title %}About Us | e-Swift Real Estate{% endblock %}
{% block og_description %}Discover the story behind e-Swift Propertymart, our core values, and the team committed to helping you find your dream property.{% endblock %}
{% block og_image %}{% static 'img/logo.svg' %}{% endblock %}
{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}
{% block og_type %}website{% endblock %}

{% block twitter_title %}About Us | e-Swift Propertymart{% endblock %}
{% block twitter_description %}Learn more about e-Swift Propertymart, our mission, vision, and the dedicated team behind our success.{% endblock %}
{% block twitter_image %}{% static 'img/logo.svg' %}{% endblock %}

{% block content %}
<!-- Hero -->
<div class="about-hero">
    <div class="inner-about">
        <h1>Get to know E-Swift</h1>
        <p>Welcome to the heart of excellence in the building sector! We pride ourselves on being more than just professionals; we're visionaries, creators, and experts deeply rooted in every facet of the built environment.</p>
    </div>
</div>

<!-- Who we are -->
<div class="services">
    <div class="services-inner">
        <div class="services-top">
            <h2>Who We Are</h2>
            <p>As Realtors we are committed to maintaining the highest standards for knowledge and ethics. We’re different because of our exceptional focus on our clients’ needs, our agents’ education, and the community
        </div>
    </div>

    <div class="services-bottom">
        <div class="service">
            <div class="service-inner">
                <img  loading="lazy" src="{% static 'img/mission.avif' %}" alt="Property Rental image" />
                <div class="service-inner-text">
                    <h3>Our Mission</h3>
                    <p>To be the best estate experts in Nigeria by providing our clients with exceptional service through integrity, knowledge, & commitment</p>
                </div>
            </div>
        </div>
        <div class="service">
            <div class="service-inner">
                <img src="{% static 'img/integrity.avif' %}" alt="Property Sale image" />
                <div  loading="lazy" class="service-inner-text">
                    <h3>Integrity</h3>
                    <p>We started E-swift Properties Mart with the vision of bringing a personal connection to the process of selling and buying a home for our clients</p>
                </div>
            </div>
        </div>
        <div class="service">
            <div class="service-inner">
                <img  loading="lazy" src="{% static 'img/commitment.avif' %}" alt="Property Management image" />
                <div class="service-inner-text">
                    <h3>Commitment</h3>
                    <p>We value each real estate transaction and strive for exceptional support. Our continuous education helps us better serve clients, agents, and communities.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  -->
<div class="services">
    <div class="about-inner-contact">
        <div class="achievements">
            <div class="details">
                <h2>300+</h2>
                <p>Properties Sold</p>
            </div>
            <div class="details">
                <h2>600+</h2>
                <p>Properties Rented</p>
            </div>
            <div class="details">
                <h2>9+</h2>
                <p>Years Experience</p>
            </div>
        </div>
    </div>  
</div>


<div class="staff">
    <div class="featured">
       <div class="featured-top">
           <div class="agent-top-text">
               <h2>Meet The Team</h2>
               <p>Meet the exceptional individuals powering our team. </p>
           </div>
       </div>

       <div class="featured-bottom">
           {% for staff in staffs %}
           <div class="agent-details">
               <img loading="lazy" src="{{ staff.image.url|slice:'0:49' }}w_500,h_500,c_scale/{{ staff.image.url|slice:'49:' }}" alt="{{ staff.name }}">
               <div class="agent-info">
                   <div class="agent-info-top">
                       <h4>{{staff.name}}</h4>
                   </div>

                   <div class="agent-info-bottom">
                       <div class="contact-info">
                           <p>Position: {{staff.position}}</p>
                           <p>Phone Number: {{staff.phone}}</p>
                           <p>Email: {{staff.email}}</p>
                       </div>
                       <button class="agent-btn"> Contact </button>
                   </div>
               </div>
           </div>
           {%endfor%}
       </div>
    </div>
 </div>


{%endblock%}
