{% load static %}

<div class="services">
    <div class="featured">
        <div class="featured-top">
            <div class="featured-top-text">
                <h2>Blog</h2>
                <p>Explore the Latest News, Tips, and Insights in Real Estate with Our Informative Blog Section</p>
            </div>
        </div>
        <div class="featured-bottom">
            <div class="blog-featured-details">
                <img  loading="lazy" src="{% static 'img/blog-image1.avif' %}" alt="Project Image"/>
                <div class="blog-info">
                    <p>20-Feb-2023</p>
                    <p>Real-estate</p>
                </div>

                <div class="blog-details">
                    <h2>Lagos commits to enforcing real estate investments laws</h2>

                    <div class="blog-text">
                        <p>This year isn't the best of years for housing as existing deficits further worsened due to peculiarity of the environment</p>
                        <a href="">
                            <p>Read More</p>
                        </a>
                    </div>
                </div>
             
            </div>

            <div class="blog-featured-details">
                <img  loading="lazy" src="{% static 'img/blog-image2.avif' %}" alt="Project Image"/>
                <div class="blog-info">
                    <p>20-Feb-2023</p>
                    <p>Real-estate</p>
                </div>

                <div class="blog-details">
                    <h2>Inflation,soaring housing price dim real estate sector in 2023</h2>

                    <div class="blog-text">
                        <p>This year isn't the best of years for housing as existing deficits further worsened due to peculiarity of the environment</p>
                        <a href="">
                            <p>Read More</p>
                        </a>
                    </div>
                </div>
            
            </div>

            <div class="blog-featured-details">
                <img  loading="lazy" src="{% static 'img/blog-image3.avif' %}" alt="Project Image"/>
                <div class="blog-info">
                    <p>20-Feb-2023</p>
                    <p>Real-estate</p>
                </div>

                <div class="blog-details">
                    <h2>Firms seeks tax rebate for developers of affordable housing</h2>

                    <div class="blog-text">
                        <p>This year isn't the best of years for housing as existing deficits further worsened due to peculiarity of the environment</p>
                        <a href="">
                            <p>Read More</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>