{% extends "_base.html" %}
{% load static %}

{% block title %}Blog{% endblock %}
{% block meta_description %}E-Swift | Blog{% endblock %}
{% block css %}{% static 'css/home.css' %}{% endblock %}
{% block meta_keywords %}{% endblock %}

{% block content %}
<div class="blog-container">
    <div class="featured">
        <div class="blog-top">
            <div class="blog-top-text">
                <h2>Blog</h2>
                <p>Explore the Latest News, Tips, and Insights in Real Estate with Our Informative Blog Section</p>
            </div>
            <form class="blog-search-form" action="" method="post">
                <div class="relative">
                    <img  loading="lazy" class="absolute" src="{% static 'img/blog-search.svg' %}" alt="Search Icon" />
                    <input class="blog-input" type="text" name="search" id="search" placeholder="Search Keywords">
                </div>
                <button class="blog-search-btn" type="submit">Search</button>
            </form>
        </div>
        <div class="featured-bottom">
            {% for blog in blogs %}
            <div class="blog-featured-details">
                <a href="{% url 'blog_details' blog.slug %}">
                    <img loading="lazy" src="{{ blog.image.url }}" alt="Blog Image"/>
                    <div class="blog-info">
                        <p>{{ blog.date|date:"d-M-Y" }}</p>
                        <p>{{ blog.category }}</p>
                    </div>

                    <div class="blog-details">
                        <h2>{{ blog.title }}</h2>
                        <div class="blog-text">
                            <p>{{ blog.description }}</p>
                            <a href="{% url 'blog_details' blog.slug %}">
                                <p>Read More</p>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            {% empty %}
            <p>No blog posts available.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
