{% extends "_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Contact Us{% endblock %}
{% block meta_description %}E-Swift | Contact Us{% endblock %}
{% block css %}{% static 'css/home.css' %}{% endblock %}
{% block other_css %}{% static 'css/project.css' %}{% endblock %}
{% block meta_keywords %}{% endblock %}

{% block content %}     
<div class="contact-hero">
    <div class="project-inner-hero">
        <div class="hero-text">
            <h1>Contact Us</h1>
            <p>Each place is a good choice, it will help you make the right decision, do not miss the opportunity to discover our wonderful properties.</p>
        </div>
        
     
    </div>
</div>

<div class="white-space">
    <div class="contact-frame">
        <div class="inner-contact-frame">
            
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form method="post" action="{% url 'contact' %}" class="contact-form">
                {% csrf_token %}
                <h2>Get in touch</h2>
                <div class="contact-input-fields">
                    <div class="biodata">
                        <div class="input-details">
                            <label for="Name">Name</label>
                            {% render_field contact_form.name type='text' placeholder='Enter your full name' class+='form-input'%}
                            {% if contact_form.errors.name %}
                                <p class="error">{{ contact_form.errors.name }}</p>
                            {% endif %}
                        </div>
                        <div class="input-details">
                            <label for="Phone">Phone</label>
                            {% render_field contact_form.phone_number type='tel' placeholder='Enter your phone number' class+='form-input'%}
                            {% if contact_form.errors.phone_number %}
                                <p class="error">{{ contact_form.errors.phone_number }}</p>
                            {% endif %}
                        </div>    
                    </div>
                    <div class="input-details">
                        <label for="Email">Email</label>
                        {% render_field contact_form.email type='email' placeholder='Enter your email' class+='form-input'%}
                        {% if contact_form.errors.email %}
                            <p class="error">{{ contact_form.errors.email }}</p>
                        {% endif %}
                    </div>   
                    <div class="input-details">
                        <label for="Subject">Subject</label>
                        {% render_field contact_form.subject type='text' placeholder='Enter your subject' class+='form-input'%}
                        {% if contact_form.errors.subject %}
                            <p class="error">{{ contact_form.errors.subject }}</p>
                        {% endif %}
                    </div> 
                    <div class="input-details">
                        <label for="Message">Message</label>
                        {% render_field contact_form.message class+='message' cols='30' rows='10' type='text' placeholder='Enter your message' class+='form-input'%}
                        {% if contact_form.errors.message %}
                            <p class="error">{{ contact_form.errors.message }}</p>
                        {% endif %}
                    </div> 
                </div>
                <button class="contact-message-btn">Send</button>
            </form>
            
        </div>
    </div>
    <div class="map-width">
        <h2>Location</h2>
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3957.785776670279!2d5.211290420397084!3d7.265203373969386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10478fdb2ccb85d5%3A0xe3bee361a8ba7622!2s8%20Owo%20Avenue%2C%20Akure%20340110%2C%20Ondo!5e0!3m2!1sen!2sng!4v1712217717513!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
</div>
{% include 'testimonial.html' %}
<script src="{% static 'js/scroll.js' %}"></script>

{% endblock %}