{% extends "_base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}Home | e-Swift Propertymart{% endblock %}
{% block meta_description %}Discover your dream home with e-Swift Propertymart. We offer a wide range of properties to meet all your real estate needs.{% endblock %}
{% block meta_keywords %}real estate, e-Swift, property listings, homes for sale, real estate services, buy property{% endblock %}
{% block css %}{% static 'css/home.css' %}{% endblock %}

{% block og_title %}Home | e-Swift Propertymart{% endblock %}
{% block og_description %}Discover your dream home with e-Swift Propertymart. Explore our wide range of property listings and find the perfect place to call home.{% endblock %}
{% block og_image %}{% static 'img/logo.svg' %}{% endblock %}
{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}
{% block og_type %}website{% endblock %}

{% block twitter_title %}Home | e-Swift Propertymart{% endblock %}
{% block twitter_description %}Discover your dream home with e-Swift Propertymart. Explore our wide range of property listings and find the perfect place to call home.{% endblock %}
{% block twitter_image %}{% static 'img/logo.svg' %}{% endblock %}


{% block content %}
<!-- Hero Section -->
  <div class="hero" id="hero">
    <div class="inner-hero">
        <div class="hero-text">
            <h1>Easy way to find your <br> dream property</h1>
            <p>A great platform to buy, sell and rent your properties without any agent or commissions.</p>
        </div>

        <form class="search-form" action="{% url 'global_search' %}" method="get">
            <div class="relative">
                <img  loading="lazy" class="absolute" src="{% static 'img/search.svg' %}" alt="Search Icon" />
                <input class="home-input" type="text" name="query"   value="{{query}}" placeholder="Search Properties">
            </div>
            <button class="search-btn" type="submit">Search</button>
        </form>
    </div>
  </div>

  <!-- Services Section -->
  <div class="services">
    <div class="services-inner">
        <div class="services-top">
            <h2>Our Services</h2>
            <p>Dreams take shape in the hands of skilled builders. Let's embark on the journey of building your dream home together. Your vision, our expertise.</p>
        </div>
    </div>

    <div class="services-bottom">
        <div class="service">
            <h3>01</h3>
            <div class="service-inner">
                <img  loading="lazy" src="{% static 'img/rent.avif' %}" alt="Property Rental image" />
                <div class="service-inner-text">
                    <h3>Property Renting</h3>
                    <p>At E-swift Properties, we have a comprehensive listing of modern residential and commercial properties to suits wide variety of clients</p>
                </div>
            </div>
        </div>
        <div class="service">
            <h3>02</h3>
            <div class="service-inner">
                <img  loading="lazy" src="{% static 'img/sale.avif' %}" alt="Property Sale image" />
                <div class="service-inner-text">
                    <h3>Property Sale</h3>
                    <p>E-swift Property offers Nigeria's top property marketing and acquisition services. We educate our clients before selling or buying properties for them to ensure a smooth process.</p>
                </div>
            </div>
        </div>
        <div class="service">
            <h3>03</h3>
            <div class="service-inner">
                <img  loading="lazy" src="{% static 'img/manage.avif' %}" alt="Property Management image" />
                <div class="service-inner-text">
                    <h3>Property Management</h3>
                    <p>At E-swift Properties excels in managing and selling both residential and commercial properties, while also providing top-notch leasing services.</p>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!--Properties-->
  <div class="properties">
    <div class="properties-left">
        <div class="properties-text">
            <div class="properties-text-top">
                <h2>Properties</h2>
                <p>We make the best choices with the hottest and most prestigious projects, please visit the details below to find out more</p>
            </div>
            <a href="{% url 'properties' %}">
                <button class="properties-btn"> See All </button>
            </a>
        </div>
    {% if first_property and first_property.slug %}
    
        <a href="{% url 'properties_details' first_property.slug %}">
            <div class="property">
                <div class="property-top">
                    <img  loading="lazy" src="{{first_property.thumbnail.url|slice:'0:49' }}w_500,h_500,c_scale/{{ first_property.thumbnail.url|slice:'49:' }}" alt="Image of a mansion" />
                    <div class="property-details">
                        <p>{{first_property.property_type}}- {{first_property.availability}}</p>
                        <p>{{first_property.location}}</p>
                    </div>
                </div>
            <div class="property-bottom">
                <p>{{first_property.title}}</p>
                <div class="reviews">
                    <div class="price">
                        <img  loading="lazy" src="{% static 'img/naira.svg' %}" alt="Naira Sign">
                        <p>{{first_property.price|format_int_with_commas }}</p>
                    </div>

                    <div class="ratings">
                        <img  loading="lazy" src="{% static 'img/stars.svg' %}" alt="Ratimg Icon"/>
                        <p>(0) </p>
                    </div>
                </div>
            </div>
        </div>
        </a>
    {% endif %}
    </div>

    <div class="properties-right">
        {% if second_property and second_property.slug %}
            <a href="{% url 'properties_details' second_property.slug %}">
                <div class="property">
                    <div class="property-top">
                        <img  loading="lazy" src="{{second_property.thumbnail.url|slice:'0:49' }}w_500,h_500,c_scale/{{ second_property.thumbnail.url|slice:'49:' }}" alt="Image of a mansion" />
                        <div class="property-details">
                            <p>{{second_property.property_type}}- {{second_property.availability}}</p>
                            <p>{{second_property.location}}</p>
                        </div>
                    </div>
                <div class="property-bottom">
                    <p>{{second_property.title}}</p>
                    <div class="reviews">
                        <div class="price">
                            <img  loading="lazy" src="{% static 'img/naira.svg' %}" alt="Naira Sign">
                            <p>{{second_property.price|format_int_with_commas }}</p>
                        </div>

                        <div class="ratings">
                            <img  loading="lazy" src="{% static 'img/stars.svg' %}" alt="Ratimg Icon"/>
                            <p>(0) </p>
                        </div>
                    </div>
                </div>
                </div>
            </a>
        {% endif %}

        {% if third_property and third_property.slug %}
            <a href="{% url 'properties_details' third_property.slug %}">

            <div class="property">

                <div class="property-top">
                    <img  loading="lazy" src="{{third_property.thumbnail.url|slice:'0:49' }}w_500,h_500,c_scale/{{ third_property.thumbnail.url|slice:'49:' }}" alt="Image of a mansion" />
                    <div class="property-details">
                        <p>{{third_property.property_type}}- {{third_property.availability}}</p>
                        <p>{{third_property.location}}</p>
                    </div>
                </div>
            <div class="property-bottom">
                <p>{{third_property.title}}</p>
                <div class="reviews">
                    <div class="price">
                        <img  loading="lazy" src="{% static 'img/naira.svg' %}" alt="Naira Sign">
                        <p>{{third_property.price|format_int_with_commas }}</p>
                    </div>

                    <div class="ratings">
                        <img  loading="lazy" src="{% static 'img/stars.svg' %}" alt="Ratimg Icon"/>
                        <p>(0) </p>
                    </div>
                </div>
            </div>
            </div>
            </a>
        {% endif %}
    </div>
  </div>

  <!-- Featured Projects -->
  <div class="services">
    <div class="featured">
        <div class="featured-top">
            <div class="featured-top-text">
                <h2>Featured Projects</h2>
                <p>We make the best choices with the hottest and most prestigeiuos projects, please visit the details below to find out more</p>
            </div>
            <a href="{% url 'project' %}">
                <button class="featured-btn"> See All </button>
            </a>
        </div>
        <div class="featured-bottom">
            {% for project in recent_projects%}
            <a href="{% url 'project_details' project.slug %}">
              <div class="featured-details">
                  <img  loading="lazy" src="{{ project.thumbnail.url|slice:'0:49' }}w_500,h_500,c_scale/{{ project.thumbnail.url|slice:'49:' }}" alt="Project Image"/>
                  <div class="featured-info">
                      <h3>{{project.title}}</h3>
                      <div class="stars">
                          <img  loading="lazy" src="{% static 'img/stars.svg' %}" alt="Rating Icon"/>
                          <p>(0)</p>
                      </div>
                  </div>
              </div>
            </a>
          {% endfor %}
        </div>
    </div>
  </div>

  <!-- Agents -->
  <div class="agent">
     <div class="featured">
        <div class="featured-top">
            <div class="agent-top-text">
                <h2>Agents</h2>
                <p>We make the best choices with the hottest and most prestigious projects, please visit the details below to find out more.</p>
            </div>
        </div>

        <div class="featured-bottom">
            {% for agent in agents %}
            <div class="agent-details">
                <img loading="lazy" src="{{ agent.image.url|slice:'0:49' }}w_500,h_500,c_scale/{{ agent.image.url|slice:'49:' }}" alt="{{ agent.name }}">
                <div class="agent-info">
                    <div class="agent-info-top">
                        <h4>{{agent.name}}</h4>
                        <img  loading="lazy" src="{% static 'img/stars.svg' %}" alt="Star Icon" />

                    </div>

                    <div class="agent-info-bottom">
                        <div class="contact-info">
                            <p>Sold Properties: 4</p>
                            <p>Phone Number: {{agent.phone_number}}</p>
                            <p>Email: {{agent.email}}</p>
                        </div>
                        <a href="https://wa.me/{{ agent.phone_number }}" target="_blank">
                            <button class="agent-btn"> Contact </button>
                        </a>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
     </div>
  </div>

  {% include 'blog_list.html'%}

  <!-- testimonials-->
  {% include 'testimonial.html' %}

  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var hero = document.getElementById('hero');
      var images = ['hero-image.avif', 'property2.avif', 'skyscraper.avif', 'image.png', 'hero-image.jpeg'];
      var preloadedImages = [];
      var currentIndex = 0;
  
      // Function to preload images
      function preloadImages(imageUrls, callback) {
        var loadedCount = 0;
        var totalImages = imageUrls.length;
  
        imageUrls.forEach(function(url, index) {
          preloadedImages[index] = new Image();
          preloadedImages[index].src = '../static/img/' + url;
          preloadedImages[index].onload = function() {
            loadedCount++;
            if (loadedCount === totalImages) {
              callback();
            }
          };
          preloadedImages[index].onerror = function() {
            console.error('Failed to load image:', url);
            loadedCount++;
            if (loadedCount === totalImages) {
              callback();
            }
          };
        });
      }
  
      // Function to change the background image
      function changeBackground() {
        hero.style.backgroundImage = 'url(' + preloadedImages[currentIndex].src + ')';
        currentIndex = (currentIndex + 1) % preloadedImages.length;
      }
  
      // Preload images and start the background rotation
      preloadImages(images, function() {
        changeBackground(); // Show the first image immediately
        setInterval(changeBackground, 5000); // Change background every 5 seconds
      });
    });
  </script>
  

<script src="{% static 'js/scroll.js' %}"></script>

  </div>
{% endblock %}
