{% extends "_base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}Home{% endblock %}
{% block meta_description %}E-Swift | Home{% endblock %}
{% block css %}{% static 'css/home.css' %}{% endblock %}
{% block meta_keywords %}{% endblock %}

{% block content %}
<!-- Hero Section -->
  <div class="hero">
    <div class="inner-hero">
        <div class="hero-text">
            <h1>Easy way to find your <br> dream property</h1>
            <p>A great platform to buy, sell and rent your properties without any agent or commissions.</p>
        </div>

        <form class="search-form" action="" method="post">
            <div class="relative">
                <img  loading="lazy" class="absolute" src="{% static 'img/search.svg' %}" alt="Search Icon" />
                <input class="home-input" type="text" name="search" id="search" placeholder="Search Properties">
            </div>
            <button class="search-btn" type="submit">Search</button>
        </form>
    </div>
  </div>

  <!-- Services Section -->
  <div class="services">
    <div class="services-inner">
        <div class="services-top">
            <h2>Our Services</h2>
            <p>Dreams take shape in the hands of skilled builders. Let's embark on the journey of building your dream home together. Your vision, our expertise.</p>
        </div>
    </div>

    <div class="services-bottom">
        <div class="service">
            <h3>01</h3>
            <div class="service-inner">
                <img  loading="lazy" src="{% static 'img/rent.avif' %}" alt="Property Rental image" />
                <div class="service-inner-text">
                    <h3>Property Renting</h3>
                    <p>At E-swift Properties, we have a comprehensive listing of modern residential and commercial properties to suits wide variety of clients</p>
                </div>
            </div>
        </div>
        <div class="service">
            <h3>02</h3>
            <div class="service-inner">
                <img  loading="lazy" src="{% static 'img/sale.avif' %}" alt="Property Sale image" />
                <div class="service-inner-text">
                    <h3>Property Sale</h3>
                    <p>E-swift Property offers Nigeria's top property marketing and acquisition services. We educate our clients before selling or buying properties for them to ensure a smooth process.</p>
                </div>
            </div>
        </div>
        <div class="service">
            <h3>03</h3>
            <div class="service-inner">
                <img  loading="lazy" src="{% static 'img/manage.avif' %}" alt="Property Management image" />
                <div class="service-inner-text">
                    <h3>Property Management</h3>
                    <p>At E-swift Properties excels in managing and selling both residential and commercial properties, while also providing top-notch leasing services.</p>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!--Properties-->
  <div class="properties">
    <div class="properties-left">
        <div class="properties-text">
            <div class="properties-text-top">
                <h2>Properties</h2>
                <p>We make the best choices with the hottest and most prestigious projects, please visit the details below to find out more</p>
            </div>
            <button class="properties-btn"> See All </button>
        </div>
    {% if first_property and first_property.slug %}
    
        <a href="{% url 'properties_details' first_property.slug %}">
            <div class="property">
                <div class="property-top">
                    <img  loading="lazy" src="{{first_property.thumbnail.url}}" alt="Image of a mansion" />
                    <div class="property-details">
                        <p>{{first_property.property_type}}- {{first_property.availability}}</p>
                        <p>{{first_property.location}}</p>
                    </div>
                </div>
            <div class="property-bottom">
                <p>{{first_property.title}}</p>
                <div class="reviews">
                    <div class="price">
                        <img  loading="lazy" src="{% static 'img/naira.svg' %}" alt="Naira Sign">
                        <p>{{first_property.price|format_int_with_commas }}</p>
                    </div>

                    <div class="ratings">
                        <img  loading="lazy" src="{% static 'img/stars.svg' %}" alt="Ratimg Icon"/>
                        <p>(0) </p>
                    </div>
                </div>
            </div>
        </div>
        </a>
    {% endif %}
    </div>

    <div class="properties-right">
        {% if second_property and second_property.slug %}
            <a href="{% url 'properties_details' second_property.slug %}">
                <div class="property">
                    <div class="property-top">
                        <img  loading="lazy" src="{{second_property.thumbnail.url}}" alt="Image of a mansion" />
                        <div class="property-details">
                            <p>{{second_property.property_type}}- {{second_property.availability}}</p>
                            <p>{{second_property.location}}</p>
                        </div>
                    </div>
                <div class="property-bottom">
                    <p>{{second_property.title}}</p>
                    <div class="reviews">
                        <div class="price">
                            <img  loading="lazy" src="{% static 'img/naira.svg' %}" alt="Naira Sign">
                            <p>{{second_property.price|format_int_with_commas }}</p>
                        </div>

                        <div class="ratings">
                            <img  loading="lazy" src="{% static 'img/stars.svg' %}" alt="Ratimg Icon"/>
                            <p>(0) </p>
                        </div>
                    </div>
                </div>
                </div>
            </a>
        {% endif %}

        {% if third_property and third_property.slug %}
            <a href="{% url 'properties_details' third_property.slug %}">

            <div class="property">

                <div class="property-top">
                    <img  loading="lazy" src="{{third_property.thumbnail.url}}" alt="Image of a mansion" />
                    <div class="property-details">
                        <p>{{third_property.property_type}}- {{third_property.availability}}</p>
                        <p>{{third_property.location}}</p>
                    </div>
                </div>
            <div class="property-bottom">
                <p>{{third_property.title}}</p>
                <div class="reviews">
                    <div class="price">
                        <img  loading="lazy" src="{% static 'img/naira.svg' %}" alt="Naira Sign">
                        <p>{{third_property.price|format_int_with_commas }}</p>
                    </div>

                    <div class="ratings">
                        <img  loading="lazy" src="{% static 'img/stars.svg' %}" alt="Ratimg Icon"/>
                        <p>(0) </p>
                    </div>
                </div>
            </div>
            </div>
            </a>
        {% endif %}
    </div>
  </div>

  <!-- Featured Projects -->
  <div class="services">
    <div class="featured">
        <div class="featured-top">
            <div class="featured-top-text">
                <h2>Featured Projects</h2>
                <p>We make the best choices with the hottest and most prestigeiuos projects, please visit the details below to find out more</p>
                <button class="featured-btn"> See All </button>
            </div>
        </div>
        <div class="featured-bottom">
            {% for project in recent_projects%}
            <a href="{% url 'project_details' project.slug %}">
              <div class="featured-details">
                  <img  loading="lazy" src="{{project.thumbnail.url}}" alt="Project Image"/>
                  <div class="featured-info">
                      <h3>{{project.title}}</h3>
                      <div class="stars">
                          <img  loading="lazy" src="{% static 'img/stars.svg' %}" alt="Rating Icon"/>
                          <p>(0)</p>
                      </div>
                  </div>
              </div>
            </a>
          {% endfor %}
        </div>
    </div>
  </div>

  <!-- Agents -->
  <div class="agent">
     <div class="featured">
        <div class="featured-top">
            <div class="agent-top-text">
                <h2>Agents</h2>
                <p>We make the best choices with the hottest and most prestigious projects, please visit the details below to find out more.</p>
            </div>
        </div>

        <div class="featured-bottom">
            {% for agent in agents %}
            <div class="agent-details">
                <img  loading="lazy" src="{{agent.image.url}}" alt="Agent's Image"/>
                <div class="agent-info">
                    <div class="agent-info-top">
                        <h4>{{agent.name}}</h4>
                        <img  loading="lazy" src="{% static 'img/stars.svg' %}" alt="Star Icon" />

                    </div>

                    <div class="agent-info-bottom">
                        <div class="contact-info">
                            <p>Sold Properties: 4</p>
                            <p>Phone Number: {{agent.phone_number}}</p>
                            <p>Email: {{agent.email}}</p>
                        </div>
                        <button class="agent-btn"> Contact </button>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
     </div>
  </div>

  {% include 'blog_list.html'%}

  <!-- testimonials-->
  {% include 'testimonial.html' %}

  </div>

<script src="{% static 'js/scroll.js' %}"></script>

  </div>
{% endblock %}
