{% load static %}
<div class="services">
    <div class="featured">
        <div class="filters">
            <div class="type">
                <p>Selling</p>
                <img loading="lazy" class="" src="{% static 'img/dropdown.svg' %}" alt="Search Icon" />
            </div>
            <div class="type">
                <p>All Category</p>
                <img loading="lazy" class="" src="{% static 'img/dropdown.svg' %}" alt="Search Icon" />
            </div>
        </div>
        <div class="featured-bottom">
            <div class="featured-details">
                <img  loading="lazy" src="{% static 'img/project.avif' %}" alt="Project Image"/>
                <div class="featured-info">
                    <h3>4 Bedroom Detached Luxury Apartment With Swimming Pool and Landscaping</h3>
                    <div class="stars">
                        <img  loading="lazy" src="{% static 'img/stars.svg' %}" alt="Ratimg Icon"/>
                        <p>(0)</p>
                    </div>
                </div>
            </div>

            <div class="featured-details">
                <img  loading="lazy" src="{% static 'img/project.avif' %}" alt="Project Image"/>
                <div class="featured-info">
                    <h3>Office Renovation Project Akure, Ondo State Nigeria</h3>
                    <div class="stars">
                        <img  loading="lazy" src="{% static 'img/stars.svg' %}" alt="Ratimg Icon"/>
                        <p>(0)</p>
                    </div>
                </div>
            </div>

            <div class="featured-details">
                <img  loading="lazy" src="{% static 'img/project.avif' %}" alt="Project Image"/>
                <div class="featured-info">
                    <h3>Office Renovation Project Akure, Ondo State Nigeria</h3>
                    <div class="stars">
                        <img  loading="lazy" src="{% static 'img/stars.svg' %}" alt="Ratimg Icon"/>
                        <p>(0)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>