{% load static %}
<div class="services">
    <div class="featured">
        <div class="filters">
            <div class="type">
                <p>Selling</p>
                <img loading="lazy" class="" src="{% static 'img/dropdown.svg' %}" alt="Search Icon" />
            </div>
            <div class="type">
                <p>All Category</p>
                <img loading="lazy" class="" src="{% static 'img/dropdown.svg' %}" alt="Search Icon" />
            </div>
        </div>
        {% for project in projects%}
        <div class="featured-bottom">
          <a href="{% url 'project_details' project.slug %}">
            <div class="featured-details">
                <img  loading="lazy" src="{{project.thumbnail.url}}" alt="Project Image"/>
                <div class="featured-info">
                    <h3>{{project.title}}</h3>
                    <div class="stars">
                        <img  loading="lazy" src="{% static 'img/stars.svg' %}" alt="Ratimg Icon"/>
                        <p>(0)</p>
                    </div>
                </div>
            </div>
          </a>
        </div>
        {% endfor %}
    </div>
    

    <div class="pagination">
        <div class="pagination-text">
            <div class="pagination-text-top">
                <p>Showing</p>
                <span>1</span>
            </div>
            <p>of 50</p>
        </div>

        <div class="pagination-number">
            <img src="{% static 'img/arrow-left.svg' %}" alt="Arrow facing left">
            <div class="numbers">
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>...</span>
                <span>50</span>

            </div>
            <img src="{% static 'img/arrow-right.svg' %}" alt="Arrow facing right">
        </div>
    </div>
</div>