{% load static %}
<div class="services">
    <div class="featured">
        <div class="filters">
            <div class="type">
                <p>Selling</p>
                <img loading="lazy" class="" src="{% static 'img/dropdown.svg' %}" alt="Search Icon" />
            </div>
            <div class="type" id="sort">
                <p>All Category</p>
                <img id="sort-active" loading="lazy" class="" src="{% static 'img/dropdown.svg' %}" alt="Search Icon" />
            </div>
        </div>
            <div class="sort-width">
                <div id="sort-category" class="sort-category">
                    <div class="sort-category-inner">
                    {% for category in categories %}
                        <div class="top">
                            <a href="{% url 'project_category' category.name %}" {% if category.name == selected_category %}class="selected"{% endif %}>{{ category.name }}</a>
                        </div>
                        <hr />
                    {% endfor %}
                    </div>
                </div>
            </div>
                    <div class="featured-bottom">
            {% if results %}
            {% for project in results %}
                <a href="{% url 'project_details' project_slug=project.slug %}">
                    <div class="featured-details">
                        <img loading="lazy" src="{{ project.thumbnail.url|slice:'0:49' }}w_500,h_500,c_scale/{{ project.thumbnail.url|slice:'49:' }}" alt="Project Image"/>
                        <div class="featured-info">
                            <h3>{{project.title}}</h3>
                            <div class="stars">
                                <img loading="lazy" src="{% static 'img/stars.svg' %}" alt="Rating Icon"/>
                                <p>(0)</p>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% elif paginated_projects %}
            {% for project in paginated_projects %}
                <a href="{% url 'project_details' project_slug=project.slug %}">
                    <div class="featured-details">
                        <img loading="lazy" src="{{ project.thumbnail.url|slice:'0:49' }}w_500,h_500,c_scale/{{ project.thumbnail.url|slice:'49:' }}" alt="Project Image"/>
                        <div class="featured-info">
                            <h3>{{project.title}}</h3>
                            <div class="stars">
                                <img loading="lazy" src="{% static 'img/stars.svg' %}" alt="Rating Icon"/>
                                <p>(0)</p>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <p>No projects found matching your search criteria.</p>
        {% endif %}
        
        
        </div>
    </div>
    <div class="pagination">
        <div class="pagination-text">
            <div class="pagination-text-top">
                <p>Showing</p>
                <span>{{paginated_projects.number}}</span>
            </div>
            <p>of {{paginated_projects.paginator.num_pages}}</p>
        </div>

        <div class="pagination-number">
            {% if paginated_projects.has_previous %}
            <a href="?page={{ paginated_projects.previous_page_number }}">
                <img src="{% static 'img/arrow-left.svg' %}" alt="Previous Page">
            </a>
            {% endif %}
    
            <div class="numbers">
                {% for page_num in paginated_projects.paginator.page_range %}
                    <span {% if page_num == paginated_projects.number %} class="active"{% endif %}>
                        <a href="?page={{ page_num }}">{{ page_num }}</a>
                    </span>
                {% endfor %}
            </div>
            {% if paginated_projects.has_next %}
        <a href="?page={{ paginated_projects.next_page_number }}">
            <img src="{% static 'img/arrow-right.svg' %}" alt="Next Page">
        </a>
        {% endif %}
        </div>
    </div>
</div>