{% load static %}
<div class="services">
    <div class="featured">
        <div class="filters">
            <div class="type">
                <p>Selling</p>
                <img loading="lazy" class="" src="{% static 'img/dropdown.svg' %}" alt="Search Icon" />
            </div>
            <div class="type">
                <p>All Category</p>
                <img loading="lazy" class="" src="{% static 'img/dropdown.svg' %}" alt="Search Icon" />
            </div>
        </div>
        <div class="sort-width">
            <div id="sort-category" class="sort-category">
                <div class="sort-category-inner">
                {% for category in categories %}
                    <div class="top">
                        <a href="{% url 'property_category' category.name %}" {% if category.name == selected_category %}class="selected"{% endif %}>{{ category.name }}</a>
                    </div>
                    <hr />
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="featured-bottom">
        {%if results %}
        {% for property in results %}
            <a href="{%url 'properties_details' property.slug %}">
                <div class="property">
                    <div class="property-top">
                        <img  loading="lazy" src="{{ property.thumbnail.url|slice:'0:49' }}w_500,h_500,c_scale/{{ property.thumbnail.url|slice:'49:' }}" alt="Image of a mansion" />
                        <div class="properties-details">
                            <p>{{property.property_type}} - {{property.availability}}</p>
                            <p>{{property.location}}</p>
                        </div>
                    </div>
        
                    <div class="properties-bottom">
                        <p>{{property.title}}</p>
                        <div class="reviews">
                            <div class="price">
                                <img  loading="lazy" src="{% static 'img/naira-black.svg' %}" alt="Naira Sign">
                                <p>{{property.price}}</p>
                            </div>
        
                            <div class="ratings">
                                <img  loading="lazy" src="{% static 'img/stars.svg' %}" alt="Ratimg Icon"/>
                                <p>(0) </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
        {% elif paginated_properties %}
            {% for property in paginated_properties %}
                <a href="{%url 'properties_details' property.slug %}">
                    <div class="property">
                        <div class="property-top">
                            <img  loading="lazy" src="{{ property.thumbnail.url|slice:'0:49' }}w_500,h_500,c_scale/{{ property.thumbnail.url|slice:'49:' }}" alt="Image of a mansion" />
                            <div class="properties-details">
                                <p>{{property.property_type}} - {{property.availability}}</p>
                                <p>{{property.location}}</p>
                            </div>
                        </div>
            
                        <div class="properties-bottom">
                            <p>{{property.title}}</p>
                            <div class="reviews">
                                <div class="price">
                                    <img  loading="lazy" src="{% static 'img/naira-black.svg' %}" alt="Naira Sign">
                                    <p>{{property.price}}</p>
                                </div>
            
                                <div class="ratings">
                                    <img  loading="lazy" src="{% static 'img/stars.svg' %}" alt="Ratimg Icon"/>
                                    <p>(0) </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
            {% else %}
            <p>No property found matching your search criteria.</p>
        {% endif %}
        </div>
    </div>
    
    <div class="pagination">
        <div class="pagination-text">
            <div class="pagination-text-top">
                <p>Showing</p>
                <span>{{paginated_properties.number}}</span>
            </div>
            <p>of {{paginated_properties.paginator.num_pages}}</p>
        </div>

        <div class="pagination-number">
            {% if paginated_properties.has_previous %}
            <a href="?page={{ paginated_properties.previous_page_number }}">
                <img src="{% static 'img/arrow-left.svg' %}" alt="Previous Page">
            </a>
            {% endif %}
    
            <div class="numbers">
                {% for page_num in paginated_properties.paginator.page_range %}
                    <span {% if page_num == paginated_properties.number %} class="active"{% endif %}>
                        <a href="?page={{ page_num }}">{{ page_num }}</a>
                    </span>
                {% endfor %}
            </div>
            {% if paginated_projects.has_next %}
        <a href="?page={{ paginated_properties.next_page_number }}">
            <img src="{% static 'img/arrow-right.svg' %}" alt="Next Page">
        </a>
        {% endif %}
        </div>
    </div>
</div>