{% load static %}
<div class="services">
    <div class="featured">
        <div class="filters">
            <div class="type">
                <p>Selling</p>
                <img loading="lazy" class="" src="{% static 'img/dropdown.svg' %}" alt="Search Icon" />
            </div>
            <div class="type">
                <p>All Category</p>
                <img loading="lazy" class="" src="{% static 'img/dropdown.svg' %}" alt="Search Icon" />
            </div>
        </div>
        <div class="featured-bottom">
            <div class="property">
                <div class="property-top">
                    <img  loading="lazy" src="{% static 'img/property1.avif' %}" alt="Image of a mansion" />
                    <div class="properties-details">
                        <p>Duplex- Selling</p>
                        <p>Lagos</p>
                    </div>
                </div>
    
                <div class="properties-bottom">
                    <p>Spacious 5 Bedroom Modern Terrance Duplex</p>
                    <div class="reviews">
                        <div class="properties-price">
                            <img  loading="lazy" src="{% static 'img/naira-black.svg' %}" alt="Naira Sign">
                            <p>110,000,000</p>
                        </div>
    
                        <div class="properties-ratings">
                            <img  loading="lazy" src="{% static 'img/stars.svg' %}" alt="Ratimg Icon"/>
                            <p>(0) </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="property">
                <div class="property-top">
                    <img  loading="lazy" src="{% static 'img/property1.avif' %}" alt="Image of a mansion" />
                    <div class="properties-details">
                        <p>Duplex- Selling</p>
                        <p>Lagos</p>
                    </div>
                </div>
    
                <div class="properties-bottom">
                    <p>Spacious 5 Bedroom Modern Terrance Duplex</p>
                    <div class="reviews">
                        <div class="properties-price">
                            <img  loading="lazy" src="{% static 'img/naira-black.svg' %}" alt="Naira Sign">
                            <p>110,000,000</p>
                        </div>
    
                        <div class="properties-ratings">
                            <img  loading="lazy" src="{% static 'img/stars.svg' %}" alt="Ratimg Icon"/>
                            <p>(0) </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="property">
                <div class="property-top">
                    <img  loading="lazy" src="{% static 'img/property1.avif' %}" alt="Image of a mansion" />
                    <div class="properties-details">
                        <p>Duplex- Selling</p>
                        <p>Lagos</p>
                    </div>
                </div>
    
                <div class="properties-bottom">
                    <p>Spacious 5 Bedroom Modern Terrance Duplex</p>
                    <div class="reviews">
                        <div class="properties-price">
                            <img  loading="lazy" src="{% static 'img/naira-black.svg' %}" alt="Naira Sign">
                            <p>110,000,000</p>
                        </div>
    
                        <div class="properties-ratings">
                            <img  loading="lazy" src="{% static 'img/stars.svg' %}" alt="Ratimg Icon"/>
                            <p>(0) </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>