{% load static %}

<div class="testimonials">
    <h2>Testimonials</h2>
    <div class="testimony scroller">
        <div class="cards scroller-inner">
            <div class="card">
                <img  loading="lazy" src="{% static 'img/comma.svg' %}" alt="Apostrophe">

                <div class="card-text">
                    <p>Working with E-Swift has been an absolute pleasure from start to finish. Their professionalism, expertise, and dedication truly set them apart in the industry .
                    </p>
                    <p>-Anthony Michael</p>

                </div>
            </div>
            <div class="card">
                <img  loading="lazy" src="{% static 'img/comma.svg' %}" alt="Apostrophe">

                <div class="card-text">
                    <p>Working with E-Swift has been an absolute pleasure from start to finish. Their professionalism, expertise, and dedication truly set them apart in the industry .
                    </p>
                    <p>-Anthony Michael</p>

                </div>
            </div>
            <div class="card">
                <img  loading="lazy" src="{% static 'img/comma.svg' %}" alt="Apostrophe">

                <div class="card-text">
                    <p>Working with E-Swift has been an absolute pleasure from start to finish. Their professionalism, expertise, and dedication truly set them apart in the industry .
                    </p>
                    <p>-Anthony Michael</p>

                </div>
            </div>
        </div>
        <div class="cards scroller-inner" data-direction="right">
                <div class="card">
                    <img  loading="lazy" src="{% static 'img/comma.svg' %}" alt="Apostrophe">

                    <div class="card-text">
                        <p>Working with E-Swift has been an absolute pleasure from start to finish. Their professionalism, expertise, and dedication truly set them apart in the industry .
                        </p>
                        <p>-Anthony Michael</p>
                    </div>
                </div>
                <div class="card">
                    <img  loading="lazy" src="{% static 'img/comma.svg' %}" alt="Apostrophe">
                    <div class="card-text">
                        <p>Working with E-Swift has been an absolute pleasure from start to finish. Their professionalism, expertise, and dedication truly set them apart in the industry .
                        </p>
                        <p>-Anthony Michael</p>
                    </div>
                </div>
                <div class="card">
                    <img  loading="lazy" src="{% static 'img/comma.svg' %}" alt="Apostrophe">
                    <div class="card-text">
                        <p>Working with E-Swift has been an absolute pleasure from start to finish. Their professionalism, expertise, and dedication truly set them apart in the industry .
                        </p>
                        <p>-Anthony Michael</p>
                    </div>
                </div>
            </div>
    </div>
</div>